src/main/mule/employee-sys-api.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="cfc0b480-f4b7-48be-b5b9-b2e1a14b5872" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="employee-sys-apiFlow" doc:id="7388e901-2db0-4ba6-a072-7335b4025c02" >
		<http:listener doc:name="Listener" doc:id="bd6f40ae-ef18-429c-b727-38ba14c422e9" config-ref="HTTP_Listener_config" path="/employees"/>
		<ee:transform doc:name="Transform Message" doc:id="2d204fcd-74f2-43f8-b394-e6b920a4d280" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
[{
	"name": "Ever",
	"lastName": "Flores",
	"age": 30,
	"role": "MuleSoft Architect",
	"project": "Salesforce Integration Project"
}]]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="9a11ca38-03ab-4b4e-8a1f-e8bfb53d6cf5" message="Logging payload: #[payload]"/>
	</flow>
</mule>
